.web_header{
    display:flex;
    justify-content:center;
    align-items:center; 
    height:70px;
    color:white;
    background-color: darkblue; 
    font-size:30px;
    font-weight:bold;
}
.login_header{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size: 25px;
    font-weight:bold;
    height:50px;
    margin-top: 50px;
    margin-bottom:20px;
}
.logout{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size: 25px;
    font-weight:bold;
    height:50px;
    color:blue;
}
.logout.clicked {
    color: purple;
}
.hover:hover{
    cursor:pointer; 
}
.username{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    margin-bottom: 10px;
}
.password{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    margin-bottom: 10px;
}
.agreement{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.button{
    display:flex;
    justify-content:center;
    align-items:center;
}
hr{
    margin-top:50px;
}