.web_header{
    display:flex;
    justify-content:center;
    align-items:center; 
    height:70px;
    color:white;
    background-color: darkblue; 
    font-size:30px;
    font-weight:bold;
}
.login_header{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size: 25px;
    font-weight:bold;
    height:50px;
    margin-top: 50px;
    margin-bottom:20px;
}
.logout{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size: 25px;
    font-weight:bold;
    height:50px;
    color:blue;
}
.logout.clicked {
    color: purple;
}
.hover:hover{
    cursor:pointer; 
}
.username{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    margin-bottom: 10px;
    margin-right: 40px;
}
.name{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    margin-bottom: 10px;
    margin-right: 40px;
}
.password{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    margin-bottom: 10px;
    margin-right: 40px;
}
.agreement{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.button{
    display:flex;
    justify-content:center;
    align-items:center;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right:10px;
  }
.message {
    margin-bottom: 5px;
    font-size: 16px;
}